<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Categories</title>
</head>
<body>
    <main>
        <div>
            {% if user.is_authenticated %}
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Number of receipts</td>
                    </tr>
                </thead>
                <tbody>
                    {% for item in category_list %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.receipts.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </main>
</body>
</html>
