<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Receipts</title>
    <nav>
        <ul>
            <li><a href="{% url 'create_receipt' %}">Create a receipt</a></li>
            <li><a href="{% url 'category_list' %}">Expense category list</a></li>
            <li><a href="{% url 'account_list' %}">Account List</a></li>
            <li><a href="{% url 'create_category' %}">Create Category</a></li>
            <li><a href="{% url 'create_account' %}">Create Account</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>

    </nav>
</head>
<body>
    {% if user.is_authenticated %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <td>Vendor</td>
                    <td>Total</td>
                    <td>Tax</td>
                    <td>Date</td>
                    <td>Category</td>
                    <td>Account</td>
                </tr>
            </thead>
            <tbody>
                {% for item in receipt_list %}
                    <tr>
                        <td>{{ item.vendor }}</td>
                        <td>{{ item.total }}</td>
                        <td>{{ item.tax }}</td>
                        <td>{{ item.date|date:"m/d/y" }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.account }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </main>
</body>
</html>
